
@{
    ViewData["Title"] = "Chi tiết phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title> @ViewData["Title"]</title>
  <!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="room-single">
                <div class="col-md-8">
                    <ul class="slides single-room-carousel">
                        <li>

                            <img src="~/assets/img/single-room/pic%20(1).jpg" class="img-responsive" alt="">
                        </li>
                        <li>

                            <img src="~/assets/img/single-room/pic%20(2).jpg" class="img-responsive" alt="">
                        </li>
                        <li>

                            <img src="~/assets/img/single-room/pic%20(3).jpg" class="img-responsive" alt="">
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 ">
                    <div class="inner">



                        <div class="text">
                            <h4>Tổng quan</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                    <li>Free Parking</li>
                                </ul>
                            </div>
                        </div>


                        <div class="price">
                            $300<span>/Đêm</span>
                        </div>

                        <a href="#" class="btn-border">Đặt phòng ngay</a>
                    </div>
                </div>


            </div>
        </div>

        <hr>


        <div class="row">
            <!-- room begin -->
            <div class="col-md-6">

                <div class="room-item item">
                    <div class="overlay">
                        <a href="#">
                            <h1>Deluxe Room</h1>
                        </a>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            <div class="price">$199<span>/Đêm</span></div>
                            <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                        </div>
                    </div>
                    <img src="~/assets/img/room/pic (1).jpg" alt="">
                </div>

            </div>
            <!-- room close -->
            <!-- room begin -->
            <div class="col-md-6">

                <div class="room-item item">
                    <div class="overlay">
                        <a href="#">
                            <h1>Luxury Room</h1>
                        </a>
                        <div class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            <div class="price">$299<span>/Đêm</span></div>
                            <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                        </div>
                    </div>
                    <img src="~/assets/img/room/pic (2).jpg" alt="">
                </div>

            </div>
            <!-- room close -->


        </div>
    </div>
</div>
<!-- content close -->

