
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- subheader begin -->
<div id="subheader">
    <h1>Phòng</h1>
    <h3>Hiện đại & Sang trọng</h3>
</div>
<!-- subheader close -->

    <!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row room-list">
            <div class="col-md-12">
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (1).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Deluxe Room</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$199<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (2).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Luxury Room</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$299<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (1).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Premier Room</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$399<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (1).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Deluxe Suite</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$499<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (5).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Luxury Suite</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$599<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->
                <!-- room begin -->

                <div class="room-item-alt">
                    <div class="col-md-5">
                        <img src="~/assets/img/room/pic (6).jpg" alt="">
                    </div>

                    <div class="col-md-5">
                        <div class="desc">
                            <a href="#">
                                <h1>Premier Suite</h1>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </p>

                            <div class="room-specs">
                                <h4>Features</h4>
                                <ul>
                                    <li>Double Size Bed</li>
                                    <li>Hotspot Area</li>
                                    <li>Beach View</li>
                                    <li>Room Services</li>
                                    <li>Free Dinner</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="price">$699<span>/Đêm</span></div>
                        <a href="single-room.html" class="btn-border">Xem chi tiết</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- room close -->


            </div>
        </div>
    </div>
</div>
<!-- content close -->

