@{
    ViewData["Title"] = "Liên hệ";
}
@{
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}

<div id="content" class="site-content">
    <!-- GMap -->
    <div id="map" style="position: relative; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
            <!-- google maps start -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1917.1658816900813!2d108.2364820579333!3d16.048264797223485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219d8808e8cef%3A0xb68641142dda5bb7!2zOTEgVsO1IE5oxrAgSMawbmcsIE3hu7kgQW4sIE5nxakgSMOgbmggU8ahbiwgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1479223360893" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <!-- google maps end -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <h2 class="lined-heading mt50">
                                    <span>
                                        Để lại lời nhắn
                                    </span>
                                </h2>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Để lại lời nhắn cho chúng tôi sẽ giúp chúng tôi nâng cao hơn nữa trải nghiệm của quý khách hàng. Đồng thời cũng thể hiện được sự ủng hộ của quý khách hàng đến Mường Thanh Hotel.</p>

                                    </div>
                                </div>
                                <div role="form" class="wpcf7" id="wpcf7-f6-p114-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/starhotel-wp/contact-01/#wpcf7-f6-p114-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="6" />
                                            <input type="hidden" name="_wpcf7_version" value="4.4.2" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p114-o1" />
                                            <input type="hidden" name="_wpnonce" value="ed387c8b7b" />
                                        </div>
                                        <p>
                                            <label><span class="required">*</span> Tên của bạn</label><br />
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                                        </p>
                                        <p>
                                            <label><span class="required">*</span> Email</label><br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                                        </p>
                                        <p>
                                            <label><span class="required">*</span> Tiêu đề</label><br />
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                                        </p>
                                        <p>
                                            <label><span class="required">*</span> Lời nhắn của bạn</label><br />
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                        </p>
                                        <p><input type="submit" value="Gửi" class="wpcf7-form-control wpcf7-submit btn btn-lg btn-primary" /></p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <h2 class="lined-heading mt50">
                                    <span>
                                        Địa chỉ
                                    </span>
                                </h2>


                                <div class="mfp_open"><a href="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/contact-lg-01.jpg" title=""><img src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/contact-lg-01.jpg" alt="" class="img-thumbnail img-responsive"></a></div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <address class="mt50">
                                            <strong>@companyInfo.CompanyName</strong><br />
                                            @companyInfo.Address1<br />
                                            <abbr title="Phone">P:</abbr> <a href="#">@companyInfo.Phone1</a><br />
                                            <abbr title="Email">E:</abbr> <a href="#">@companyInfo.Email1</a><br />
                                           
                                        </address>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

