@{
    ViewData["Title"] = "Thư viện ảnh";
}

<div id="content" class="site-content">
    <!-- Parallax Effect -->
    <script type="text/javascript">
jQuery(document).ready(function () {
            jQuery('#parallax-pagetitle').parallax("50%", -0.55);
        });</script>
    <div class="parallax-effect">
        <div id="parallax-pagetitle" style="background-image: url(http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/parallax-01.jpg);">
            <div class="color-overlay">
                <!-- Page title -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li><a href="http://www.slashdown.net/starhotel-wp">Trang chủ</a></li>
                                <li class="current">Thư viện ảnh</li>
                            </ol>
                            <h1>Thư viện ảnh</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Filter -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class='nav nav-pills' id='filters'><li class='active'><a href='#' data-filter='*'>Tất cả</a></li><li><a href='#' data-filter='.Business'>Filter 1</a></li><li><a href='#' data-filter='.Restaurant'>Filter 2</a></li><li><a href='#' data-filter='.Rooms'>Filter 3</a></li><li><a href='#' data-filter='.Swimming-Pool'>Filter 4</a></li><li><a href='#' data-filter='.Weddings'>Filter 5</a></li></ul>
            </div>
        </div>
    </div>

    <!-- Gallery -->
    <div id="gallery" class="mt50">
        <div class="container">
            <div class="row gallery">
                <div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open 1' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/11.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/11.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Swimming-Pool' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/21.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/21.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Business Swimming-Pool' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/31.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/31.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Swimming-Pool' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/41.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/41.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Business' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/51.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/51.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Swimming-Pool' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/61.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/61.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Business' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/7.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/7.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Weddings' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/8.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/8.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Business Restaurant' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/9.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/9.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Restaurant' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/10.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/10.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Rooms' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/111.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/111.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div><div class='col-md-3 col-sm-3 col-xs-12 fadeIn appear mfp_open Restaurant' data-start='200'><a href='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/121.jpg'><img src='http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/121.jpg' width='800' height='504' class='img-responsive zoom-img' alt='' /><i class='fa fa-search'></i></a></div>
            </div>
        </div>
    </div>

</div>
