@{
    ViewData["Title"] = "Index";
}

<section class="sub_header" id="bg_general">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Gallery page</h1>
            <p>
                Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
            </p>
        </div>
    </div>
</section><!-- End Section -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
        </ul>
    </div>
</div><!-- End Position -->

<div class="container margin_60">
    <div class="main_title">
        <span></span>
        <h2>Some images from travellers</h2>
        <p>
            Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
        </p>
    </div>
    <hr>
    <div class="row magnific-gallery add_bottom_60 ">
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_1.jpg" title="Photo title"><img src="/img/pic_1.jpg" alt="" class="img-responsive styled"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_2.jpg" title="Photo title"><img src="/img/pic_2.jpg" alt="" class="img-responsive styled"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_3.jpg" title="Photo title"><img src="/img/pic_3.jpg" alt="" class="img-responsive styled"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_4.jpg" title="Photo title"><img src="/img/pic_4.jpg" alt="" class="img-responsive styled"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_5.jpg" title="Photo title"><img src="/img/pic_5.jpg" alt="" class="img-responsive styled"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="/img/pic_6.jpg" title="Photo title"><img src="/img/pic_6.jpg" alt="" class="img-responsive styled"></a>
        </div>
    </div><!-- End row -->
</div><!-- End container -->