@{
    ViewData["Title"] = "Hình ảnh";
}

<section class="sub_header" id="bg_general">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Hình ảnh</h1>
        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="main_title">
        <span></span>
        <h2>Những hình ảnh từ khách sạn</h2>
    </div>
    <hr>
    <div class="row magnific-gallery add_bottom_60 ">
        @foreach (var item in Model?.Photos)
        {
            <div class="col-md-4 col-sm-4">
                <a href="@(item?.Image?.Url ?? "/img/pic_1.jpg")" title="@(item?.Title)">
                    <img src="@(item?.Image?.Url ?? "/img/pic_1.jpg")" alt="@(item?.Title)" class="img-responsive styled">
                </a>
            </div>
        }
    </div><!-- End row -->
</div><!-- End container -->