@{
    ViewData["Title"] = "Chi tiết tin";
}
<section class="sub_header" id="bg_general">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>@Model?.Article?.Title</h1>

        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="row">

        <div class="col-md-12">
            <div class="box_style_1">
                <div class="post nopadding">
                    <img src="@(Model?.Article?.CoverImage?.Url ?? "/img/blog-1.jpg")" alt="" class="img-responsive">
                    <div class="post_info clearfix">
                        <div class="post-left">
                        </div>
                    </div>
                    <h2>@Model?.Article?.Title</h2>
                    <p>
                        @(Html.Raw(Model?.Article?.Html))
                    </p>
              
                </div><!-- end post -->
            </div><!-- end box_style_1 -->
        </div><!-- End col-md-9-->


    </div><!-- End row-->
</div><!-- End container -->