
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pinar Hotel - Responsive Hotel Template</title>
    <meta name="description" content="Pinar is Hotel and Resort HTML template.">
    <meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
    <meta name="author" content="Joseph a, services@htactive.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Lobster%7cRaleway:400,300,100,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body class="homepage trans-header sticky white-datepicker">

    <!-- Top Header -->
    <div id="top-header">
        <div class="inner-container container">
            <!-- Contact Info -->
            <ul class="contact-info list-inline">
                <li><i class="fa fa-phone"></i>0185 26 37 48 59</li>
                <li><i class="fa fa-envelope-o"></i>info@ravistheme.com</li>
            </ul>

        </div>
    </div>
    <!-- End of Top Header -->
    <!-- Main Header -->
    <header id="main-header">
        <div class="inner-container container">
            <div class="left-sec col-sm-4 col-md-2 clearfix">
                <!-- Top Logo -->
                <div id="top-logo">
                    <div class="title"><span>Pinar</span> Hotel</div>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="right-sec col-sm-8 col-md-10 clearfix">

                <!-- Book Now -->
                <a href="pages/booking.html" class="book-now-btn btn btn-default btn-sm">Đặt phòng ngay</a>

                <!-- Main Menu -->
                <nav id="main-menu">
                    <ul class="list-inline">
                        <li class="active">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Phòng</a>
                        </li>
                        <li>
                            <a href="#">Dịch vụ</a>
                        </li>
                        <li><a href="pages/restaurant.html">Tin tức</a></li>
                        <li><a href="pages/guest-book.html">Hình ảnh</a></li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </nav>

                <!-- Menu Handel -->
                <div id="main-menu-handle" class="hidden-md hidden-lg"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div id="mobile-menu-container" class="hidden-md hidden-lg"></div>
    </header>
    <!-- End of Main Header -->

    @RenderBody()
    <!-- Top Footer -->
    <div id="top-footer">
        <div id="go-up-box"><i class="fa fa-chevron-up"></i></div>
        <div class="inner-container container">
            <div class="widget col-xs-6 col-md-4">
                <h4>Thông tin khách sạn</h4>
                <div class="widget-content">
                    vài dòng mô tả khách sạn từ database
                </div>
            </div>
            <div class="widget col-xs-6 col-md-4">
                <h4>Hình ảnh</h4>
                <div class="widget-content">
                    
                </div>
            </div>
            <div class="widget col-md-4 get-in-touch">
                <h4>Liên hệ</h4>
                <div class="widget-content">
                    <ul>
                        <li><i class="fa fa-map-marker "></i>địa chỉ của khách sạn</li>
                        <li><i class="fa fa-phone"></i>01227 423 919</li>
                        <li><i class="fa fa-envelope-o"></i>info@@htactive.com</li>
                    </ul>
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="fa fa-facebook "></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Top Footer -->
    <!-- Footer -->
    <footer id="footer">
        <nav>
            <ul class="list-inline">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Phòng</a></li>
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Hình ảnh</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="copy-right">
            &copy; 2017. Xây dựng và thiết kế bởi <a href="http://www.htactive.com" target="_blank">HT Active</a>.
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Include the js files  -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/helper.js"></script>
    <script type="text/javascript" src="assets/js/template.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            "use strict";
            // Init the Wow plugin
            new WOW({ mobile: false }).init();
        });
    </script>

    <!-- End of js files and codes -->
</body>
</html>