@{
    ViewData["Title"] = "Danh sách dịch vụ";
}

<div id="content" class="site-content">
    <!-- Parallax Effect -->
    <script type="text/javascript">
jQuery(document).ready(function () {
            jQuery('#parallax-pagetitle').parallax("50%", -0.55);
        });</script>
    <div class="parallax-effect">
        <div id="parallax-pagetitle" style="background-image: url(http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/parallax-01.jpg);">
            <div class="color-overlay">
                <!-- Page title -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <ol class="breadcrumb">
                                <li><a href="">Trang chủ</a></li>
                                <li class="active">Dịch vụ</li>
                            </ol>

                            <h1>Danh sách dịch vụ</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rooms -->
    <div class="rooms mt100">
        <div class="container">
            <div class="row room-list">
                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-08.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 01</h5>
                                <div class='price'> Miễn phí</div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 1</span>Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1</p>
                                
                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room Executive-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-04.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 02</h5>
                                <div class='price'> $ 10<span>một giờ</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 2</span>Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2</p>
                                
                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-05.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 03</h5>
                                <div class='price'> $20<span>một ngày</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 3</span>Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ.</p>
                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-08.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 01</h5>
                                <div class='price'> Miễn phí</div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 1</span>Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1</p>

                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room Executive-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-04.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 02</h5>
                                <div class='price'> $ 10<span>một giờ</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 2</span>Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2</p>

                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-05.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 03</h5>
                                <div class='price'> $20<span>một ngày</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 3</span>Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ.</p>
                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-08.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 01</h5>
                                <div class='price'> Miễn phí</div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 1</span>Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1 Mô tả dịch vụ 1</p>

                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room Executive-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-04.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 02</h5>
                                <div class='price'> $ 10<span>một giờ</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 2</span>Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2 Mô tả dịch vụ 2</p>

                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="col-sm-4 Double-Room">
                    <div class="room-thumb">
                        <img width="356" height="228" src="http://www.slashdown.net/starhotel-wp/wp-content/uploads/2015/03/room-05.jpg" class="img-responsive wp-post-image" alt="" />                                <div class="mask">
                            <div class="main">
                                <h5>Dịch vụ 03</h5>
                                <div class='price'> $20<span>một ngày</span></div>
                            </div>
                            <div class="content">
                                <p><span>Tiêu đề dịch vụ 3</span>Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ Mô tả dịch vụ.</p>
                                <a href="service/bar-overnight" class="btn btn-primary btn-block"> Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center mt30">
        <ul class="pagination clearfix">
            <li><span class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="rooms/2">2</a></li>
            <li><a class="next page-numbers" href="rooms/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
