
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Hotel.WebBase.Models.PhotosListPageViewModel;
    <!-- subheader begin -->
<div id="subheader">
    <h1>Hình ảnh</h1>
    <h3>Một số hình ảnh về chúng tôi</h3>
</div>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="gallery" class="gallery">
                    @foreach (var item in Model?.Photos)
                    {
                    <!-- <h4>Gallery Title -->
                        <div class="item news">
                            <a class="preview" href="@item?.Image?.Url" data-gal="prettyPhoto" title="@item?.Title">
                                <img src="@item?.Image?.Url" alt="" class="img-responsive">
                            </a>
                            <h4>@item.Title</h4>
                            @if (item.CreateDate != null)
                            {
                            <span>Tháng @(item.CreateDate.Value.Month) năm @item.CreateDate.Value.Year</span>
                            }
                        </div>
                    }
                    <!-- close <h4>Gallery Title -->
                   
                </div>

            </div>
        </div>
    </div>
</div>
<!-- content close -->
