
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- subheader begin -->
<div id="subheader">
    <h1>Hình ảnh</h1>
    <h3>Five Stars Hotel</h3>
</div>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul id="filters">
                    <li><a href="#" data-filter="*" class="selected">show all</a></li>
                    <li><a href="#" data-filter=".event">event</a></li>
                    <li><a href="#" data-filter=".news">news</a></li>
                    <li><a href="#" data-filter=".gallery">gallery</a></li>
                    <li><a href="#" data-filter=".promotion">promotion</a></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="gallery" class="gallery">

                    <!-- <h4>Gallery Title -->
                    <div class="item news">
                        <a class="preview" href="~/assets/img/gallery/pic%20(1).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(1).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 1</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(2).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(2).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 2</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item promotion news">
                        <a class="preview" href="~/assets/img/gallery/pic%20(3).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(3).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 3</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item event">
                        <a class="preview" href="~/assets/img/gallery/pic%20(4).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(4).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 4</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item promotion gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(5).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(5).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 5</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item news">
                        <a class="preview" href="~/assets/img/gallery/pic%20(6).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(6).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 6</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item event gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(7).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(7).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 7</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(8).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(8).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 8</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(9).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(9).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 9</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(10).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(10).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 10</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(11).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(11).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 11</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(12).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(12).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 12</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(13).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(13).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 13</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(14).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(14).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 14</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                    <!-- <h4>Gallery Title -->
                    <div class="item gallery">
                        <a class="preview" href="~/assets/img/gallery/pic%20(15).jpg" data-gal="prettyPhoto" title="Your Title">
                            <img src="~/assets/img/gallery/pic%20(15).jpg" alt="" class="img-responsive">
                        </a>
                        <h4>Gallery Title 15</h4>
                        <span>November 10, 2013</span>
                    </div>
                    <!-- close <h4>Gallery Title -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- content close -->

