@{
    Layout = null;
}
@{ 
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Corsiva - Responsive Hotel Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hotel">
    <meta name="author" content="">
    <base href="@ViewBag.BaseHref" />
    <!-- LOAD CSS FILES -->
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- header begin -->
    <header>
        <!-- logo begin -->
        <div id="logo">
            <div class="inner">
                <a href="#">
                    <img src="~/assets/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <!-- logo close -->
        <!-- mainmenu begin -->
        <div id="mainmenu-container">
            <ul id="mainmenu">
                <li><a href="">Trang chủ</a></li>
                <li><a href="rooms">Phòng</a></li>
                <li><a href="articles">Tin tức</a></li>
                <li><a href="gallery">Hình ảnh</a></li>
                <li><a href="services">Dịch vụ</a></li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>
        <!-- mainmenu close -->

        <div id="menu-btn"></div>
    </header>
    <!-- header close -->
    @RenderBody()

    <!-- footer begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Về chúng tôi</h3>
                    @Html.Raw(companyInfo.LongDescription)
                </div>
                <div class="col-md-4">
                    <h3>Tin mới nhất</h3>
                    <ul class="bloglist-small">
                        <li>
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="~/assets/css/#">Lorem ipsum sit amet</a></h5>
                                <div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="date-box">
                                <span class="day">26</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="~/assets/css/#">Lorem ipsum sit amet</a></h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4">
                    <h3>Địa chỉ</h3>
                    <address>
                        <span>20 Lý Thượng Kiệt, TP Đà Nẵng</span>
                        <span><strong>Phone:</strong>(200) 333 8890</span>
                        <span><strong>Fax:</strong>(200) 333 8892</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Website:</strong><a href="#test">http://example.com</a></span>
                    </address>

                    <div class="social-icons">
                        <a href="#">
                            <img src="~/assets/img/social-icons/facebook.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/social-icons/twitter.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/social-icons/dribbble.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/social-icons/blogger.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/social-icons/youtube.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/assets/img/social-icons/vimeo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyright 2017 - by <a href="http://htactive.com">HT Active</a>
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="rooms">Phòng</a></li>
                                <li><a href="articles">Tin tức</a></li>
                                <li><a href="gallery">Hình ảnh</a></li>
                                <li><a href="services">Dịch vụ</a></li>
                                <li><a href="contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer close -->
    <!-- LOAD JS FILES -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.isotope.min.js"></script>
    <script src="~/assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/js/easing.js"></script>
    <script src="~/assets/js/jquery.lazyload.js"></script>
    <script src="~/assets/js/jquery.ui.totop.js"></script>
    <script src="~/assets/js/selectnav.js"></script>
    <script src="~/assets/js/ender.js"></script>
    <script src="~/assets/js/responsiveslides.min.js"></script>
    <script src="~/assets/js/jquery.flexslider-min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <!-- datepicker js -->
    <script>
        jQuery(document).ready(function () {
            jQuery('#checkin').datepicker();
            jQuery('#checkout').datepicker();
        });
    </script>

</body>
</html>
