
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <!-- subheader begin -->
<div id="subheader">
    <h1>Tin tức</h1>
    <h3>Thông tin mới nhất</h3>
</div>
<!-- subheader close -->

   <!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="blog-list">
                    <li>
                        <div class="info">
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                        </div>
                        <div class="preview">
                            <img src="img/pic-blog-1.jpg" alt="" />
                            <a href="single-news.html">
                                <h3 class="blog-title">Chandelier That Turns Your Room into a Forest</h3>
                            </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                        </div>
                        <div class="meta-info">Đăng bởi: <a href="#">Admin</a><span>|</span><a href="#">Sự kiện</a>, <a href="#">Khuyến mãi</a><span>|</span><a href="#">2 Bình luận</a><span>|</span> </div>
                    </li>
                    <li>
                        <div class="info">
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                        </div>
                        <div class="preview">
                            <img src="img/pic-blog-1.jpg" alt="" />
                            <a href="single-news.html">
                                <h3 class="blog-title">Chandelier That Turns Your Room into a Forest</h3>
                            </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                        </div>
                        <div class="meta-info">Đăng bởi: <a href="#">Admin</a><span>|</span><a href="#">Sự kiện</a>, <a href="#">Khuyến mãi</a><span>|</span><a href="#">2 Bình luận</a><span>|</span> </div>
                    </li>
                    <li>
                        <div class="info">
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                        </div>
                        <div class="preview">
                            <img src="img/pic-blog-2.jpg" alt="" />
                            <a href="single-news.html">
                                <h3 class="blog-title">Beach Sand Under Your Work Desk</h3>
                            </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                        </div>
                        <div class="meta-info">Đăng bởi: <a href="#">Admin</a><span>|</span><a href="#">Sự kiện</a>, <a href="#">Khuyến mãi</a><span>|</span><a href="#">2 Bình luận</a><span>|</span> </div>
                    </li>

                    <li>
                        <div class="info">
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                        </div>
                        <div class="preview">
                            <img src="img/pic-blog-3.jpg" alt="" />
                            <a href="#">
                                <h3 class="blog-title">A Wall That Plays Music When It Rains</h3>
                            </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                        </div>
                        <div class="meta-info">Đăng bởi: <a href="#">Admin</a><span>|</span><a href="#">Sự kiện</a>, <a href="#">Khuyến mãi</a><span>|</span><a href="#">2 Bình luận</a><span>|</span> </div>
                    </li>

                </ul>

                <div class="text-center ">
                    <ul class="pagination">
                        <li><a href="#"><</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">></a></li>
                    </ul>
                </div>
            </div>

            <div id="sidebar" class="col-md-4">

                <div class="widget latest_news">
                    <h3>Tin tức mới</h3>
                    <ul class="bloglist-small">
                        <li>
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                <div>
                                    <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="date-box">
                                <span class="day">28</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                <div>
                                    <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="date-box">
                                <span class="day">26</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            </div>
                        </li>
                        <li>
                            <div class="date-box">
                                <span class="day">18</span>
                                <span class="month">SEP</span>
                            </div>
                            <div class="txt">
                                <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- widget category -->
                <div class="widget widget_category">
                    <h3><span>Danh mục tin tức</span></h3>
                    <ul>
                        <li><a href="#"><i class="icon-folder-close"></i>Khuyến mãi</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Thực đơn yêu thích</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Nhà hàng</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Sự kiện</a></li>
                        <li><a href="#"><i class="icon-folder-close"></i>Khác</a></li>
                    </ul>
                </div>

                <!-- widget tags -->
                <div class="widget widget_tags">
                    <h3><span>Tags</span></h3>
                    <ul>
                        <li><a href="#link">hotel</a></li>
                        <li><a href="#link">responsive</a></li>
                        <li><a href="#link">css3</a></li>
                        <li><a href="#link">html5</a></li>
                        <li><a href="#link">website</a></li>
                        <li><a href="#link">template</a></li>
                        <li><a href="#link">elegant</a></li>
                        <li><a href="#link">clean</a></li>
                        <li><a href="#link">jquery</a></li>
                        <li><a href="#link">php</a></li>
                        <li><a href="#link">html</a></li>
                        <li><a href="#link">css</a></li>
                    </ul>
                </div>

                <!-- widget text -->
                <div class="widget widget-text">
                    <h3>Địa chỉ</h3>
                    <div class="map-small">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.id/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=16+Riverside+Rd,+Singapore&amp;sll=-2.547988,118.037109&amp;sspn=29.394918,50.756836&amp;ie=UTF8&amp;geocode=Fb8IFgAdu40vBg&amp;split=0&amp;hq=&amp;hnear=16+Riverside+Rd,+Singapore&amp;ll=1.444031,103.779771&amp;spn=0.014522,0.024784&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=false"></iframe>
                    </div>

                    <address>
                        <span>20 Main Street, Melbourne</span>
                        <span><strong>Phone:</strong>(200) 333 8890</span>
                        <span><strong>Fax:</strong>(200) 333 8892</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Web:</strong><a href="#test">http://example.com</a></span>
                    </address>


                </div>

            </div>
        </div>

        <div class="map">
        </div>

    </div>
</div>
<!-- content close -->