@{
    ViewData["Title"] = "Room details";
}

<section class="sub_header" id="bg_room">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Double Room</h1>
            <p>
                Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
            </p>
        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="row">
        <div class="col-lg-9 col-md-8" id="single_tour_desc">
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">

                    <div class="sp-slide">
                        <img alt="" class="sp-image" 
                             data-src="/img/room_photo/1_medium.jpg"
                             data-small="/img/room_photo/1_small.jpg"
                             data-medium="/img/room_photo/1_medium.jpg"
                             data-large="/img/room_photo/1_large.jpg"
                             data-retina="/img/room_photo/1_large.jpg">
                    </div>
                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/2_medium.jpg"
                             data-small="/img/room_photo/2_small.jpg"
                             data-medium="/img/room_photo/2_medium.jpg"
                             data-large="/img/room_photo/2_large.jpg"
                             data-retina="/img/room_photo/2_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/3_medium.jpg"
                             data-small="/img/room_photo/3_small.jpg"
                             data-medium="/img/room_photo/3_medium.jpg"
                             data-large="/img/room_photo/3_large.jpg"
                             data-retina="/img/room_photo/3_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/4_medium.jpg"
                             data-small="/img/room_photo/4_small.jpg"
                             data-medium="/img/room_photo/4_medium.jpg"
                             data-large="/img/room_photo/4_large.jpg"
                             data-retina="/img/room_photo/4_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/5_medium.jpg"
                             data-small="/img/room_photo/5_small.jpg"
                             data-medium="/img/room_photo/5_medium.jpg"
                             data-large="/img/room_photo/5_large.jpg"
                             data-retina="/img/room_photo/5_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/6_medium.jpg"
                             data-small="/img/room_photo/6_small.jpg"
                             data-medium="/img/room_photo/6_medium.jpg"
                             data-large="/img/room_photo/6_large.jpg"
                             data-retina="/img/room_photo/6_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/7_medium.jpg"
                             data-small="/img/room_photo/7_small.jpg"
                             data-medium="/img/room_photo/7_medium.jpg"
                             data-large="/img/room_photo/7_large.jpg"
                             data-retina="/img/room_photo/7_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img alt="" class="sp-image"
                             data-src="/img/room_photo/8_medium.jpg"
                             data-small="/img/room_photo/8_small.jpg"
                             data-medium="/img/room_photo/8_medium.jpg"
                             data-large="/img/room_photo/8_large.jpg"
                             data-retina="/img/room_photo/8_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                </div>
                <div class="sp-thumbnails">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/1_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/2_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/3_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/4_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/5_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/6_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/7_thumb.jpg">
                    <img alt="" class="sp-thumbnail" src="/img/room_photo/8_thumb.jpg">
                </div>
            </div>
            <div id="single_room_feat">
                <ul>
                    <li><i class="icon_set_2_icon-116"></i>Plasma TV</li>
                    <li><i class="icon_set_2_icon-104"></i>King size bed</li>
                    <li><i class="icon_set_1_icon-59"></i>Breakfast inclueded</li>
                    <li><i class="icon_set_2_icon-111"></i>Bathtub</li>
                    <li><i class="icon_set_1_icon-22"></i>Pet allowed</li>
                    <li><i class="icon_set_2_icon-106"></i>Safe box</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9">
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.  Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at.
                    </p>
                    <h4>Room facilities</h4>
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                                <li>Ut est saepe munere ceteros</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                                <li>No scripta electram necessitatibus sit</li>
                            </ul>
                        </div>
                    </div><!-- End row  -->
                    <h4>Room Prices</h4>
                    <!-- start pricing table -->
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Low (from 23/03 to 31/05)</td>
                                <td>140$</td>
                            </tr>
                            <tr>
                                <td>Middle (from 23/03 to 31/05)</td>
                                <td>180$</td>
                            </tr>
                            <tr>
                                <td>High (from 23/03 to 31/05)</td>
                                <td>200$</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End col-md-9  -->
            </div><!-- End row  -->

            <hr>

        </div><!-- End col-lg-9 -->

        <div class="col-lg-3 col-md-4">
            <div class="box_style_1" id="general_facilities">
                <h3>General facilities</h3>
                <ul>
                    <li><i class="icon_set_1_icon-86"></i>Free Wifi</li>
                    <li><i class="icon_set_2_icon-103"></i>Loundry service</li>
                    <li><i class="icon_set_2_icon-110"></i>Swimming pool</li>
                    <li><i class="icon_set_1_icon-58"></i>Restaurant</li>
                    <li><i class="icon_set_1_icon-27"></i>Parking</li>
                </ul>
                <p>His <strong>civibus tacimates</strong> ex, an quo nominavi qualisque. In erant dissentiunt vel, dicit legimus docendi an nam. Te congue perfecto eos, aliquid corrumpit ea est, eam petentium repudiandae ad.</p>
            </div>
            <div class=" box_style_2">
                <i class="icon_set_1_icon-90"></i>
                <h4>Need help? Call us</h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div><!-- End col-lg-3 -->
    </div><!-- End row -->
</div><!-- End Container -->