@{
    ViewData["Title"] = "Home Page";
}

<section class="sub_header" id="bg_room">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Danh sách Phòng</h1>
            <p>
                Tất cả phòng đang có của khách sạn.
            </p>
        </div>
    </div>
</section><!-- End Section -->

<div class="container margin_60">
    <div class="row">
        <div class="col-lg-12 col-md-12">
@foreach (var room in Model.Rooms ?? new List<Hotel.WebBase.Models.RoomModel>())
{
    <div class="strip_all_rooms_list wow fadeIn" data-wow-delay="0.1s">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="img_list">
                    <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))">
                    <img src="@(room?.CoverImage?.Url ?? "/img/room_1.jpg")" alt="">
                    </a>
                </div>
            </div>
            <div class="clearfix visible-xs-block">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="rooms_list_desc">
                    <h3><strong>@room.Name</strong></h3>
                    <p>
                        @room.Description
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="price_list">
                    <div>
                        <small>@(string.Format("{0:n0}", room.Price))<em> VNĐ</em> </small>
                        <p>
                            <a href="room/@(Hotel.WebBase.Helpers.SlugOrIdHelper.EncodeSlugOrId(room.Slug,room.Id))" class="btn_1">Xem chi tiết</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End strip -->
}
        </div><!-- End col-lg-9 -->
    </div><!-- End row -->
</div><!-- End Container -->

