@{
    ViewData["Title"] = "Trang Chủ";
}
<!-- Slider -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="/img/slides_bg/dummy.png" alt="slidebg1" data-lazyload="/img/slides_bg/slide_1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption white_heavy_40 customin customout text-center text-uppercase" data-x="center" data-y="center" data-hoffset="0" data-voffset="-20" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 5;max-width: inherit; max-height: inherit; white-space: nowrap;">
                    Country Holidays pleasure
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 text-center" data-x="center" data-y="center" data-hoffset="0" data-voffset="15" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: inherit; max-height: inherit; white-space: nowrap;">
                    <div style="color:#ffffff; font-size:16px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); text-transform:uppercase">
                        Rooms / Country activities / Pleasure
                    </div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="center" data-hoffset="0" data-voffset="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12;">
                    <a href='rooms_list.html' class="button_intro">View Rooms</a> <a href='all_activities.html' class=" button_intro outline">Activities</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="/img/slides_bg/dummy.png" alt="slidebg1" data-lazyload="/img/slides_bg/slide_6.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption white_heavy_40 customin customout text-center text-uppercase" data-x="center" data-y="center" data-hoffset="0" data-voffset="-20" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;">
                    Discover fantastic places
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 text-center" data-x="center" data-y="center" data-hoffset="0" data-voffset="15" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: inherit; max-height: inherit; white-space: nowrap;">
                    <div style="color:#ffffff; font-size:16px; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);">
                        We offer a variety of services and options
                    </div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="center" data-hoffset="0" data-voffset="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12;">
                    <a href='rooms_list.html' class="button_intro">View Rooms</a> <a href='all_activities.html' class=" button_intro outline">Activities</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="/img/slides_bg/dummy.png" alt="slidebg1" data-lazyload="/img/slides_bg/slide_4.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption white_heavy_40 customin customout text-center text-uppercase" data-x="center" data-y="center" data-hoffset="0" data-voffset="-20" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;">
                    Enjoy Countryside  Activities
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 text-center" data-x="center" data-y="center" data-hoffset="0" data-voffset="15" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: inherit; max-height: inherit; white-space: nowrap;">
                    <div style="color:#ffffff; font-size:16px; text-transform:uppercase; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);">
                        Rooms / Country activities / Pleasure
                    </div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="center" data-hoffset="0" data-voffset="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12;">
                    <a href='rooms_list.html' class="button_intro">View Rooms</a> <a href='all_activities.html' class=" button_intro outline">Activities</a>
                </div>
            </li>
        </ul>

    </div>
    <div id="general_decor"></div>
</div>
<!-- End Slider -->

<div id="booking_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="book">
                    <div id="message-booking"></div>
                    <form role="form" method="post" action="" id="check_avail" autocomplete="off">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label>Ngày đến</label>
                                    <input class="date-pick form-control" data-date-format="M d, D" type="text" id="check_in" name="check_in" placeholder="Ngày đến">
                                    <span class="input-icon"><i class=" icon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label>Ngày rời đi</label>
                                    <input class="date-pick form-control" data-date-format="M d, D" type="text" id="check_out" name="check_out" placeholder="Ngày rời đi">
                                    <span class="input-icon"><i class=" icon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label>Số người</label>
                                    <div class="qty-buttons">

                                        <input type="text" name="adults" id="adults" value="" class="qty form-control" placeholder="0">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name_booking" id="name_booking" placeholder="Name and Last name">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email_booking" id="email_booking" placeholder="Your email">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div style="margin-top: 15px;">
                                    <input type="submit" value="Book now" class="btn_full" id="">
                                </div>
                            </div>
                        </div><!-- End row -->

                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KCFifInfJZIgJWGyH6bT7tt4sR5nSN_jcit8_osVMY4nZM71vp02Wy0l2zbqWIdZQrhlPm9nxhPO2L0HtSZmXWB5kd-SwZe3nEdYtCx7ateG6A8Kd7ZhdoCwKc6bn9LXpYXoQaIfvwGZBEI6f4oL00">
                    </form>
                </div>
            </div>

        </div><!-- End row -->
    </div><!-- End container -->
    <div id="general_decor"></div>
</div>

<div class="container margin_60 padd_bottom_20">
    <div class="main_title">
        <span></span>
        <h2>We love Country Holidays</h2>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box_home">
                <i class="icon_set_2_icon-104"></i>
                <h3>Cozy and Charming rooms</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box_home">
                <i class="icon_set_2_icon-108"></i>
                <h3>Relax in a beautiful contest</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box_home">
                <i class="icon_set_1_icon-40"></i>
                <h3>Enjoy country side activities</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->

<div class="bg_gray add_bottom_60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="img_zoom">
                    <a href="room_details.html"><img src="/img/room_1.jpg" alt="" class="img-responsive"></a>
                </div>
                <h3>Single Room <span class="price_home">$90<em>Per night</em></span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <p>
                    <a href="#" class="btn_1">Read more</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="img_zoom">
                    <a href="room_details.html"><img src="/img/room_2.jpg" alt="" class="img-responsive"></a>
                </div>
                <h3>Double Room <span class="price_home">$120<em>Per night</em></span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <p>
                    <a href="#" class="btn_1">Read more</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="img_zoom">
                    <a href="room_details.html"><img src="/img/room_3.jpg" alt="" class="img-responsive"></a>
                </div>
                <h3>King double Room <span class="price_home">$140<em>Per night</em></span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <p>
                    <a href="#" class="btn_1">Read more</a>
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</div>

<div class="container add_bottom_60">
    <div class="main_title add_bottom_45">
        <span></span>
        <h2>Other stuff you may consider</h2>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8" id="strip_activities">
            <ul>
                <li>
                    <img src="/img/activities_1_thumb.jpg" alt="" class="img-circle styled">
                    <h4>Take a ride on a Horse</h4>
                    <p>
                        Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at. <a href="#" class="link_normal">Read more</a>
                    </p>
                </li>
                <li>
                    <img src="/img/activities_2_thumb.jpg" alt="" class="img-circle styled">
                    <h4>Discover typical Food </h4>
                    <p>
                        Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at. <a href="#" class="link_normal">Read more</a>
                    </p>
                </li>
                <li>
                    <img src="/img/activities_3_thumb.jpg" alt="" class="img-circle styled">
                    <h4>Learn to cook deliciuos food</h4>
                    <p>
                        Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at. <a href="#" class="link_normal">Read more</a>
                    </p>
                </li>
                <li>
                    <img src="/img/activities_4_thumb.jpg" alt="" class="img-circle styled">
                    <h4>Farm activities</h4>
                    <p>
                        Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed. Ut iriure perpetua voluptaria has, vim postea denique in, mollis pertinax elaboraret sed in. Per no vidit timeam, quis omittam sed at. <a href="#" class="link_normal">Read more</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="box_style_1 text-center">
                <p><img src="/img/best_price.png" alt=""></p>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus instructior in.
                </p>
                <p>
                    Ad cum movet fierent assueverit, mei stet legere ne. Mel at vide soluta, ut utamur antiopam inciderint sed.
                </p>
            </div><!-- End box_style_1 -->

            <a class="box_style_1 weahter" href="about.html">
                <i class="icon-light-up"></i> View Weahter forecast
            </a>
            <!-- End  weather-->

            <div id="banner">
                <h3><span>-30% OFF</span>This week only for all rooms!</h3>
            </div><!-- End banner -->

        </div>
    </div><!-- End row -->
</div><!-- End container -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div class="features-bg">
                <div class="features-img">
                </div>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="features-content">
                <h3>"Enjoy spectacular countryside"</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <p>
                    <a href="#" class=" btn_1 white">Read more</a>
                </p>
            </div>
        </div>
    </div>
</div><!-- End container-fluid  -->