
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="farm activities, itineraries, farm holidays, country holidays, bed and breakfast, hotel, country hotel" />
    <meta name="description" content="Country Holidays - Premium site template for a country accommodation.">
    <meta name="author" content="Ansonika">
    <title>Country Holidays - Premium site template for a country accommodation.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>

    <!-- SPECIFIC CSS -->
    <link href="/css/date_time_picker.css" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/css/base.css" rel="stylesheet">
    <!-- REVOLUTION SLIDER CSS -->
    <link href="/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="/css/extralayers.css" rel="stylesheet">
    <base href="@ViewBag.BaseHref" />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <header>

        <div id="top_header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div id="logo">
                            <a href="index.html"><img src="/img/logo.png" width="240" height="40" alt="CountryHolidays" data-retina="true"></a>
                        </div>
                    </div>
                    <nav class="col-md-8 col-sm-8 col-xs-8">
                        <a class="cmn-toggle-switch cmn-toggle-switch__rot  open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                        <div class="main-menu">
                            <div id="header_menu">
                                <img src="/img/logo.png" width="240" height="40" alt="CountryHolidays" data-retina="true">
                            </div>
                            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                            <ul>
                                <li class="submenu">
                                    <a href="" class="show-submenu">Trang chủ</a>
                                </li>
                                <li class="submenu">
                                    <a href="rooms" class="show-submenu">Phòng</a>
                                </li>
                                <li><a href="services">Dịch vụ</a></li>
                                <li><a href="articles">Tin tức</a></li>
                                <li><a href="photos">Hình ảnh</a></li>
                                <li><a href="contact">Liên hệ</a></li>
                            </ul>
                        </div><!-- End main-menu -->

                    </nav>
                </div>
            </div>
        </div>
    </header><!-- End Header -->
    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Contacts</h3>
                    <ul id="contact_details_footer">
                        <li>Route de Sablet 1023, Marseille<br>France 01923</li>
                        <li><a href="tel://004542344599">+45 423 445 99</a> / <a href="tel://004542344599">+45 423 445 99</a></li>
                        <li><a href="/cdn-cgi/l/email-protection#bbd2d5ddd4fbd8d4ced5cfc9c2d3d4d7d2dfdac2c895d8d4d6"><span class="__cf_email__" data-cfemail="abc2c5cdc4ebc8c4dec5dfd9d2c3c4c7c2cfcad2d885c8c4c6">[email&#160;protected]</span></a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Rooms</a></li>
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Change language</h3>
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">French</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3" id="newsletter">
                    <h3>Newsletter</h3>
                    <p>Join our newsletter to keep be informed about offers and news.</p>
                    <div id="message-newsletter_2"></div>
                    <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                        <div class="form-group">
                            <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                        </div>
                        <input type="submit" value="Subscribe" class="btn_1 white" id="submit-newsletter_2">
                    </form>
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-google"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        </ul>
                        <p>© CountryHolidays 2015</p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->

    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/common_scripts_min.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/assets/validate.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/revolution_func.js"></script>

    <!-- Specific scripts -->
    <script src="/js/quantity-bt.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script>
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#check_in').datepicker({

            todayHighlight: true,

            beforeShowDay: function (date) {
                return date.valueOf() >= now.valueOf();
            },
            autoclose: true

        }).on('changeDate', function (ev) {
            if (ev.date.valueOf() > checkout.datepicker("getDate").valueOf() || !checkout.datepicker("getDate").valueOf()) {

                var newDate = new Date(ev.date);
                newDate.setDate(newDate.getDate() + 1);
                checkout.datepicker("update", newDate);

            }
            $('#check_out')[0].focus();
        });


        var checkout = $('#check_out').datepicker({
            beforeShowDay: function (date) {
                if (!checkin.datepicker("getDate").valueOf()) {
                    return date.valueOf() >= new Date().valueOf();
                } else {
                    return date.valueOf() > checkin.datepicker("getDate").valueOf();
                }
            },
            autoclose: true

        }).on('changeDate', function (ev) { });
    </script>
</body>
</html>