@{
    ViewData["Title"] = "Liên hệ";
    ViewBag.BodyClass = "internal-pages trans-header sticky contact type-1";
}
@{ 
    var companyInfo = (Hotel.WebBase.Models.CompanyInfoModel)ViewBag.CurrentCompanyInfo;
}
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="/assets/img/contact-header.jpg">
    <h1><span>Liên hệ chúng tôi</span> us</h1>
    <ol class="breadcrumb">
        <li><a href="">Trang chủ</a></li>
        <li class="active">Liên hệ</li>
    </ol>
</div>
<div class="contact-page-container container">
    <div class="contact-info-main-box clearfix">
        <div class="contact-info-box col-md-4">
            <a href="mailto:@(companyInfo.Email1)">
                <div class="inner-content">
                    <i class="fa fa-envelope-o"></i><div class="info">@(companyInfo.Email1)</div>
                </div>
            </a>
        </div>
        <div class="contact-info-box col-md-4">
            <a href="tel:@(companyInfo.Phone1)">
                <div class="inner-content">
                    <i class="fa fa-phone"></i><div class="info">@(companyInfo.Phone1)</div>
                </div>
            </a>
        </div>
        <div class="contact-info-box col-md-4">
            <div class="inner-content">
                <i class="fa fa-map-marker "></i><div class="info">@(companyInfo.Address1)</div>
            </div>
        </div>
    </div>

    <!-- Contact Form -->
    <div class="contact-form-container">
        <div class="how-contact col-md-4">
            <div class="title"><b>Liên hệ</b> với chúng tôi</div>
            <div class="desc">
                @(companyInfo.ShortDescription)
            </div>
        </div>
        <div class="contact-form-box col-md-8">
            <form class="contact-form clearfix">
                <div class="col-md-6">
                    <input type="text" name="name" placeholder="Tên :">
                    <input type="email" name="email" placeholder="Email :">
                    <input type="text" name="phone" placeholder="Điện thoại :">
                </div>
                <div class="col-md-6">
                    <textarea name="message" placeholder="Tin nhắn : "></textarea>
                </div>
                <div class="submit-container">
                    <input type="submit" value="Gửi" class="btn btn-default">
                </div>
            </form>
        </div>
    </div>
</div>

