@{
    ViewData["Title"] = "Home Page";
    ViewBag.BodyClass = "internal-pages trans-header sticky";
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page" data-parallax="scroll" data-image-src="../assets/img/internal-header.jpg">
    <h1>Danh sách phòng</h1>
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Danh sách phòng</li>
    </ol>
</div>
<!-- End of Internal Page Header -->
<!-- Rooms Container -->
<div class="room-container container room-list">

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/1.jpg" alt="1">
            <a href="room/slug" class="btn btn-default">Xem thêm</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug">Phòng đơn</a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$240</span>
                - Per Night
            </div>
        </div>
    </div>

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/2.jpg" alt="2">
            <a href="room/slug" class="btn btn-default">More Details</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug">Double <span>Room</span></a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$350</span>
                - Per Night
            </div>
        </div>
    </div>

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/3.jpg" alt="">
            <a href="room/slug" class="btn btn-default">More Details</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug">Deluxe <span>One-bedroom</span> Suite</a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$440</span>
                - Per Night
            </div>
        </div>
    </div>

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/4.jpg" alt="">
            <a href="room/slug" class="btn btn-default">More Details</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug">Deluxe <span>Two-bedroom</span> Suite</a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$480</span>
                - Per Night
            </div>
        </div>
    </div>

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/5.jpg" alt="">
            <a href="room/slug" class="btn btn-default">More Details</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug"><span>Royal</span> Suit</a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$530</span>
                - Per Night
            </div>
        </div>
    </div>

    <!-- Room Boxes -->
    <div class="room-box clearfix">
        <div class="img-container col-xs-6">
            <img src="../assets/img/rooms/grid/6.jpg" alt="">
            <a href="room/slug" class="btn btn-default">More Details</a>
        </div>
        <div class="details col-xs-6">
            <div class="title"><a href="room/slug"><span>King</span> Suit</a></div>
            <div class="desc">
                Short description of rooms will be located in this section that you can describe some special features and equipment of rooms.
                <ul class="facilities list-inline">
                    <li><i class="fa fa-check"></i>Breakfast Included</li>
                    <li><i class="fa fa-check"></i>Free Wifi</li>
                    <li><i class="fa fa-check"></i>Room Size : 60 sqm</li>
                    <li><i class="fa fa-check"></i>Max 2 people</li>
                    <li><i class="fa fa-check"></i>Sea View</li>
                </ul>
            </div>
            <div class="price">
                <span>$620</span>
                - Per Night
            </div>
        </div>
    </div>
</div>
<!-- End of Rooms Container -->
<!-- Pagination -->
<div class="pagination-box">
    <ul class="list-inline">
        <li class="active"><a href="#"><span>1</span></a></li>
        <li><a href="rooms/1"><span>2</span></a></li>
        <li><a href="rooms/2"><span>3</span></a></li>
        <li><a href="rooms/3"><span>4</span></a></li>
        <li><a href="rooms/4"><span>5</span></a></li>
    </ul>
</div>
<!-- End of Pagination -->
